*
{
    box-sizing: border-box;
}

body
{
    color: #fff;
    background-color: #000;
}

#container
{
    gap: 8vh;
    padding-top: 4vw;
}

#tvShow
{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;

    -webkit-overflow-scrolling: touch;
}

.Card
{
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position:center;
    background-repeat: no-repeat;
    background-size:100%;
    backdrop-filter: blur(20px);
    background-color: #eee;
    border: 0.5px solid #aaa;
    border-radius: 8px;
    width: 350px;
    height: auto;
    box-shadow: 0 0 30px 1px #dcdcdc9d, inset 2px 2px 30px 2px #dbdbdb;
    overflow: hidden;
}
.grid-item
{
    grid-column: 1/2;
    grid-row: 1/2;
}
.Card p
{
    text-align: justify;
    font-weight: 600;
}
.Card img
{
    width: 100%;
}
.Card h3
{
    padding-left: 2rem;
}
.foto
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text
{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    background-color: rgba(238, 238, 238, 0.55);
    backdrop-filter: blur(6px);
    width: auto;
    height: auto;
    max-height: auto;
    padding: 0 2rem;
    z-index: 1;
    transition: 400ms ease-out;
    font-size: clamp(16px, 1.5vw, 16px);
    overflow: hidden;
}
.text:hover
{
    opacity: 100%;
}
button#clearBtn
{
    display: none;
    transition: 200ms;
}